section#login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

section#login label {
    font-size: 14px;
    font-weight: 500;
    color: #435960;
}

section#login div.form-input label {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
}

section#login div.form-input input {
    border-radius: 25px;
    border: 0px;
    background-color: #D0DCE0;
    height: 35px;
    width: 90%;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

section#login div.form-radio label {
    margin-left: 5px;
}

section#login div.form-radio input {
    margin-left: 15px;
}

section#login form button {
    margin-top: 25px;
}

section#login form {
    width: 100%;
}

section#login article {
    width: 350px;
}