<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iniciar Sesión</title>
    <link href="https://necolas.github.io/normalize.css/8.0.0/normalize.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/menu.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
</head>
<body>

    <nav id="main">
        <div id="links">
            <img src="svg/avatar-man.svg">
            <ul>
                <li>New</li>
                <li>Hot</li>
                <li>Duos</li>
                <li>Palettes</li>
                <li>Gradients</li>
            </ul>
        </div>
        <div id="logo">
            <img src="svg/mascote.svg">
        </div>
        <div id="actions">
            <img class="icon" src="svg/icon9-739AA6.svg">
            <img class="icon" src="svg/icon8-739AA6.svg">
            <img class="icon" src="svg/icon7-739AA6.svg">
        </div>
    </nav>

    <section id="login">
        <article>
            <form>
                <div class="form-input">
                    <label for="username">Email address or username</label>
                    <input type="text" name="username">
                </div>
                <div class="form-input" style="margin-top: 10px;">
                    <label for="password">Password</label>
                    <input type="password" name="password">
                </div>
                <div class="form-radio">
                    <input style="margin-top: 10px;" type="radio" name="remember"><label>&nbsp;Remember me</label>
                </div>
                <button style="display: block;" class="cta cta-blue" type="submit">Login</button>
            </form>
        </article>
    </section>
    
    
</body>
</html>